<div class="book-card">
  <div class="book-cover">
    <a [routerLink]="['/book', book.id]">
      <img *ngIf="book?.coverImage" [src]="book.coverImage" [alt]="book.title" class="book-cover" />
      <div *ngIf="!book?.coverImage" class="empty-cover">No Cover</div>
    </a>
  </div>
  <div class="book-info">
    <h3 class="book-title">
      <a [routerLink]="['/book', book.id]">{{ book?.title || 'N/A' }}</a>
    </h3>
    <p class="book-category">{{ book?.categoryName || 'No Category' }}</p>
    <p class="book-author">{{ book?.author || 'N/A' }}</p>
  </div>
</div>
