<div class="container">
  <div class="columns is-centered is-vcentered" style="height: 100vh">
    <div class="column is-half">
      <div class="box">
        <!-- Logo Image -->

        <div class="has-text-centered">
          <img
            src="assets/images/welcome.png"
            alt="BooksFrog Logo"
            style="width: 600px; height: auto;"
          />
        </div>
        <p class="is-size-3 has-text-centered" style="color: #393939 ; font-family: FunGroovy;">
          Explore thousands of children's books
        </p>
        <p
        class="is-size-5 has-text-centered"
        style="color: #393939; font-family: FunGroovy"
      >
        Sign in to get started
      </p>

        <form (ngSubmit)="onLogin()" [formGroup]="loginForm" style="padding: 20px">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input
                class="input is-medium"
                type="text"
                placeholder="Username"
                name="username"
                required
                formControlName="username"
                style="border: 1px solid #6f9e00; border-radius: 5px"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user" style="color: #6f9e00"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input
                class="input is-medium"
                type="password"
                placeholder="Password"
                name="password"
                required
                formControlName="password"
                style="border: 1px solid #6f9e00; border-radius: 5px"
                id="password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock" style="color: #6f9e00"></i>
              </span>
              <span
                class="icon is-small is-right password-toggle"
                (click)="togglePasswordVisibility()"
              >
                <i class="fas fa-eye" id="togglePassword" style="color: #6f9e00"></i>
              </span>
            </div>
          </div>
          <div class="control">
            <div class="button-container">
              <img 
                src="assets/images/cutefrog.png" 
                alt="Frog" 
                class="frog-image" 
              />
              <button
                class="button is-fullwidth is-large"
                type="submit"
                style="color: #6f9e00"
              >
                Login
              </button>
            </div>
          </div>
          
        </form>
        <p class="has-text-centered mt-4">
          Don't have an account?
          <a href="/register" style="color: #6f9e00">Register here</a>
        </p>
      </div>
      <div *ngIf="errorMessage" class="notification is-danger">
        <button class="delete" (click)="closeNotification()"></button>
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
